@charset "UTF-8";

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Poppins:wght@600&display=swap');

/* Variable */
:root {
  --font-primary: 'Poppins', sans-serif;
  --font-secundary: 'Inter', sans-serif;
  --color-1: #FF4040;  
}

/* Global configs */
* {
    margin: 0px;
    padding: 0px;
}

/* Page configs */

body {
    background-color: #FDFFE7;
    min-width: 124px;
    max-width: 601px;
    margin: auto;
}

header {
    margin-top: 20px;
    min-height: 150px;
    text-align: left;
    padding-top: 50px;
    height: auto;
    width: auto;
    display: flex;
}

header h3 {
    font-family: var(--font-primary);
    font-size: 26px;
    font-weight: bold;
    color:var(--color-1);
    display: inline;
    margin-top: 30px;
    margin-right: 300px;
    display: flex;

}

header img {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    display: flex;
    text-align: right;
    align-content: flex-end;

}

.title {
    font-family: var(--font-primary);
    font-size: 20px;
    font-weight: semi-bold;
    color: var(--color-1);
    text-align: left;
}